Source: ros-indigo-aubo-trajectory
Section: misc
Priority: extra
Maintainer: liuxin <liuxin@our-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-actionlib, ros-indigo-aubo-msgs, ros-indigo-catkin, ros-indigo-cmake-modules, ros-indigo-control-msgs, ros-indigo-interactive-markers, ros-indigo-moveit-core, ros-indigo-moveit-ros-perception, ros-indigo-moveit-ros-planning-interface, ros-indigo-pluginlib, ros-indigo-sensor-msgs, ros-indigo-std-msgs
Homepage: http://wiki.ros.org/aubo_trajectory
Standards-Version: 3.9.2

Package: ros-indigo-aubo-trajectory
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-aubo-msgs, ros-indigo-control-msgs, ros-indigo-interactive-markers, ros-indigo-moveit-core, ros-indigo-moveit-fake-controller-manager, ros-indigo-moveit-ros-perception, ros-indigo-moveit-ros-planning-interface, ros-indigo-pluginlib, ros-indigo-sensor-msgs, ros-indigo-std-msgs
Description: The aubo_trajectory package
